// 版心
#mid-wrap{
    width: 1090px;
    margin: 0 auto;
}
// sprite图
.sprite-m{
    background: url(../img/wy-top.png) no-repeat;
}
//蒙层mask
body{
    position: relative;
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // display: none;
    background: rgba(0,0,0,0.6);
    z-index: 2000;
    display: none;
}
//login弹窗
.login{
    display: none;
    padding-top: 25px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 384px;
    height: 400px;
    background: #fff;
    z-index: 9999;
    .login-close{
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 24px;
        color: #d8cacc;
        cursor: pointer;
    }
    .login-h2{
        text-align: center;
        font-size: 18px;
        margin-bottom: 44px;
        line-height: 32px;
        i{
            margin: 0 55px;
            font-size: 20px;
            color: #d8cacc;
        }
        span{
            cursor: pointer;
        }
    }
    .input-box{
        width: 300px;
        height: 38px;
        margin: 0 auto;
        position: relative;
        padding: 8px 0;
       input{
           width: 100%;
           height: 100%;
           border: 1px solid #e8e8e8;
           outline: none;
           text-indent: 40px;
       }
       input::placeholder{
        color: #bdbdbd;
        }
       span{
           position: absolute;
           left: 10px;
           top: 18px;
           width: 29px;
           height: 24px;
           color: #e8e8e8;
           text-align: right;
            font-size: 16px;
            line-height: 16px;
       }
       .input-bg-txt{
        background: url("//yanxuan.nosdn.127.net/d6bd29fcf2096cb4c5d338e0fce13919.png")  no-repeat;
       }
       .input-bg-psw{
        background: url("//yanxuan.nosdn.127.net/178e29b95f152a8aa6490f4f7032a8e8.png") no-repeat;
       }
       
    }
    .input-box-2{
        margin-bottom: 40px;
    }
    .login-btn{
        display: block;
        margin: 0 auto;
        background: #b4a078;
        color: #fff;
        font-size: 18px;
        width: 300px;
        height: 48px;
        outline: none;
        border: none;
        letter-spacing: 5px;
    }
    .login-btm{
        margin-top: 60px;
        text-align: right;
        padding: 18px 30px 0;
        line-height: 40px;
        background: #f5f3ef;
        a{
            color:#b7b7b5;
        }
    }

}




// 主要内容main
#main{
    min-height: 1000px;
    //4张图
    .goods-show{
        display: flex;
        justify-content: space-between;
    }
    .goods-show-inner{
        .goods-show-img{
            width: 265PX;
            height: 265px;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        a{  
            box-sizing: border-box;
            height: 100px;
            display: block;
            padding: 20px 0;
            text-align: center;
            line-height: 22px;
            span{
                display: block;
                width: 150px;
                margin: 0 auto;
                font-weight: 600;
            }
            i{
                color: red;
            }
        }
    }


    .bg-wrap-white{
        background: #fff;
    }
    .bg-wrap-gray{
        background: #f4f0ea;
    }
    .one-list{
        h2{
            line-height: 60px;
            b{
            font-size: 28px;
            font-weight: 600;
            }
            a{
                float: right;
            }
        }
        .index-goods{
            width: 100%;
            overflow: hidden;
        }
    }
    .two-list{
        padding-top: 30px;
        padding-bottom: 60px;
        h2{
            line-height: 60px;
            b{
            font-size: 28px;
            font-weight: 600;
            }
            span{
                display: inline-block;
                margin: 0 34px;
                line-height: 22px;
                border-bottom: 2px solid transparent;
            }
            span:hover{
                color: b4a078;
                border-color: #b4a078 ;
            }
            a{
                float: right;
            }
        }
        .two-list-box{
            
            .two-list-left{
                background: #fff;
                float: left;
                width: 390px;
                height: 570px;
               .goods-show-img{
                    width: 390px;
                    height: 400px;
                   
               }
               a{
                   margin-top: 40px;     
                }
            }
            .two-list-right{
                float: left;
                width: 700px;
                height: 570px;
                overflow: hidden;
                .goods-show-inner{
                    background: #fff;
                    margin: 0 0 10px 10px;
                    float: left;
                    .goods-show-img{
                        width: 223px;
                        height: 180px;
                    }
                }
            }
        }
    }
    .three-list{
        padding-top: 30px;
        padding-bottom: 40px;
        
        h2{
            line-height: 60px;
            b{
            font-size: 28px;
            font-weight: 600;
            } 
            a{
                float: right;
            }
        }
        .limit-time{
            line-height: 40px;
            height: 429px;
            .limit-left{
                text-align: center;
                float: left;
                width: 224px;
                height: 429px;
                background: #f8e3d6;
                box-sizing: border-box;
                padding-top: 60px;
                b{
                    font-size: 24px;
                    color: #615548;
                    line-height: 30px;
                }
                p{
                    font-size: 16px;
                    color: #615548;
                }
                .time-count{
                    margin-top: 10px;
                    margin-bottom: 40px;
                    span{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: #615548;
                        color: #fff;
                        line-height: 40px;
                    }
                }
                a{
                    display: inline-block;
                    width: 112px;
                    height: 30px;
                    line-height: 30px;
                    background: #a7936e;
                    color: #fff;
                    border-radius: 15px;
                }
            }
            .limit-right{
                float: left;
                width: 865px;
                border-top: 1px solid #f0ece4;
                .limit-right-inner{
                    box-sizing: border-box;
                    float: left;
                    width: 50%;
                    height: 214px;
                    border-right: 1px solid #f0ece4;
                    border-bottom: 1px solid #f0ece4;
                    // background: red;
                    a.qg-left{
                        display: block;
                        float: left;
                        width: 180px;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            padding: 5px;
                            box-sizing: border-box;
                        }
                    }
                    .limit-qg{
                        width: 250px;
                        height: 100%;
                        float: left;
                        box-sizing: border-box;
                        padding: 16px 10px 0;
                        .qg-a{
                            line-height: 26px;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .qg-p1{
                            line-height: 28px;
                            color: #999999;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                        }
                        .qg-p2{
                            margin-top: 10px;
                            line-height: 20px;
                            span{
                                width: 152px;
                                height: 10px;
                                display: inline-block;
                                box-sizing: border-box;
                                border: 1px solid #f2cecd;
                                border-radius: 5px;
                                margin-right: 5px;
                                overflow: hidden;
                                i{
                                    display: block;
                                    height: 8px;
                                    width: 80%;
                                    background: #ffe5e5;
                                }
                            }
                            b{
                                color: #999;
                            }
                        }
                        .qg-p3{
                            color: red;
                            b{
                                font-size: 20px;
                                font-weight: 600;
                                margin-right: 30px;
                            }
                            span{
                                color: #999999;
                                text-decoration: line-through;
                            }
                        }
                        button{
                            width: 118px;
                            height: 31px;
                            background: #be4141;
                           
                            font-size: 16px;
                            border: none;
                            a{
                                color: #fff;
                            }

                        }
                    }
                }  
            }
        }
    }
    .four-list{
        padding-top: 48px;
        h2{
            line-height: 60px;
            b{
                font-size: 28px;
                font-weight: 600;
            }
            p{
                float: right;
                a{
                    margin: 0 12px;
                }
            }
        }
        .two-swiper{
            width: 1090px;
            height: 310px;
            margin-bottom: 20px;
            .swiper-slide{
                height: 310px;
                background: url(../img/two-list-swiper.jpg) center top no-repeat;
                overflow: hidden;
            }
        }
    }
}





























